.Home {
    text-align: center;
}

.Home .RedirectButton {
    margin: 2px;
}

.Home h1 {
    font-family: Arial, serif;
    color: slateblue;
}

.Home form {
    margin: 10px;
}

#homePageLink {
    font-family: Arial, serif;
    color: slategray;
}